//Font imports
@font-face {
  font-family: "Avenir";
  src: url(../fonts/AvenirLTStd-Black.otf);
  src: url(../fonts/AvenirLTStd-Book.otf);
  src: url(../fonts/AvenirLTStd-Roman.otf);
}

// Font variables
$primary-font: "Helvetica", sans-serif;
$secondary-font: "Avenir";

// Color variables
$primary-color: #212353;
$secondary-color: #4b5d68;

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
  padding-top: 47px;
  max-width: 112rem;
  margin: auto;
  overflow-x: hidden;
  @media only screen and (max-width: 72em) {
    padding-top: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  @media only screen and (max-width: 47.5em) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  @media only screen and (max-width: 30em) {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
}
h1 {
  color: $primary-color;
  font-family: $primary-font;
  font-size: 80px;
  font-weight: bold;
  line-height: 110%;
  padding: 0;
  margin: 0;
  @media only screen and (max-width: 33.4em) {
    font-size: 6rem;
    line-height: 6.6rem;
  }
}
h2 {
  color: $primary-color;
  font-family: $primary-font;
  font-size: 40px;
  font-weight: bold;
  line-height: 130%;
  padding: 0;
  margin: 0;
}
h3 {
  color: $primary-color;
  font-family: $primary-font;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  line-height: 130%;
  padding: 0;
  margin: 0;
}
p {
  color: $secondary-color;
  font-family: $secondary-font;
  font-style: normal;
  font-size: 18px;
  line-height: 160%;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.button {
  font-family: $secondary-font;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  width: 210px;
  height: 60px;
  &__image {
    height: 14px;
  }
  &--demo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $primary-color;
    background: #ffffff;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    width: 210px;
    height: 60px;
    padding-left: 29px;
    padding-right: 29px;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.005em;
    font-style: normal;
    margin-left: auto;
  }
  &--bold {
    font-weight: 900;
  }
  &--purple {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 160%;
    background: #9c69e2;
    width: 170px;
    height: 60px;
  }
  &--pink {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 900;
    line-height: 160%;
    background: #f063b8;
    width: 170px;
    height: 60px;
  }
  &--hide {
    @media only screen and (max-width: 53.75em) {
      display: none;
    }
  }
  &--show {
    display: none;

    @media only screen and (max-width: 53.75em) {
      display: flex;
      margin-top: 4rem;
    }
  }
}
.nav {
  width: 100vw;
  z-index: 3;
  &__input {
    display: none;
  }
  &__icon {
    cursor: pointer;
    float: right;
    position: relative;
    user-select: none;
    padding-right: 10%;
  }
  &__logo {
    display: block;
    float: left;
    text-decoration: none;
    padding-left: 1%;
  }
  &__item {
    display: none;
  }
  &__menu__item a:hover,
  &__input:hover {
    background-color: transparent;
  }
  &__icon {
    &__span {
      background: #333;
      display: block;
      height: 0.15rem;
      position: relative;
      width: 1.5rem;
    }
    &__span:before,
    &__span:after {
      background: #333;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      transition: all 0.2s ease-out;
      width: 100%;
    }
    &__span:before {
      top: 0.3125rem;
    }
    &__span:after {
      top: -0.3125rem;
    }
  }
  &__input:checked ~ &__menu {
    max-height: 20rem;
  }
  &__input:checked ~ &__icon .nav__icon__span {
    background: transparent;
  }
  &__input:checked ~ &__icon .nav__icon__span:before {
    transform: rotate(-45deg);
  }
  &__input:checked ~ &__icon .nav__icon__span:after {
    transform: rotate(45deg);
  }
  &__input:checked ~ &__icon:not(.steps) .nav__icon__span:before,
  &__input:checked ~ &__icon:not(.steps) .nav__icon__span:after {
    top: 0;
  }
  &__menu {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #ffffff;
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    &__item {
      &__link {
        display: block;
        padding: 1.25rem 1.25rem;
        text-decoration: none;
      }
    }
  }
  @media (min-width: 60rem) {
    display: flex;
    align-items: center;
    padding-top: 0;
    &__logo {
      padding-right: 3%;
      padding-left: 0;
    }
    &__icon {
      display: none;
    }
    &__item {
      display: block;
      padding-left: 18%;
    }
    &__menu {
      clear: none;
      float: right;
      max-height: none;
      margin: 0;
      padding-right: 10rem;
      list-style: none;
      overflow: hidden;
      background-color: transparent;
      &__item {
        float: left;
        &_invisible {
          display: none;
        }
        &__link {
          color: $secondary-color;
          font-size: 16px;
          padding-left: 4rem;
          font-weight: 500;
          font-family: $secondary-font;
          font-style: normal;
          line-height: 160%;
          text-decoration: none;
          &_about {
            color: $primary-color;
            font-weight: 800;
          }
        }
      }
    }
  }
}
.header {
  min-height: 754px;
  @media only screen and (max-width: 37.5em) {
    min-height: auto;
  }
  &__image {
    position: absolute;
    margin-top: 100px;
    margin-left: 363px;
    @media only screen and (max-width: 37.5em) {
      position: static;
      margin-top: 2rem;
      margin-left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @media only screen and (max-width: 67em) {
      position: static;
      margin-top: 2rem;
      margin-left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__text {
    margin-top: 145px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 645px;
    height: 464px;
    font-size: 18px;
    @media only screen and (max-width: 37.5em) {
      margin-top: 5rem;
      max-width: 76.8rem;
    }
    @media only screen and (max-width: 30em) {
      min-height: 40rem;
    }
    &__paragraph {
      max-width: 380px;
      height: 120px;
      @media only screen and (max-width: 37.5em) {
        max-width: inherit;
      }
    }
  }
}
.main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 102.18px;
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  max-width: 1117px;
  max-height: 560px;
  overflow: hidden;
  @media only screen and (max-width: 37.5em) {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  @media only screen and (max-width: 30em) {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
  }
  &__image {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 31.82px;
    margin-left: 11px;
    width: 477px;
    height: 504px;
    @media only screen and (max-width: 72em) {
      width: auto;
      height: auto;
      margin: auto;
    }
    @media only screen and (max-width: 37.5em) {
      position: relative;
      left: -6rem;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 474px;
    height: 310px;
    margin-left: 62px;
    margin-right: 92px;
    margin-top: 125px;
    margin-bottom: 125px;
    @media only screen and (max-width: 72em) {
      margin: auto;
      margin-bottom: 8rem;
    }
  }
}
.feature {
  margin-top: 149.82px;
  max-width: 1120px;
  min-height: 1026px;
  display: flex;
  flex-direction: column;
  &__text {
    max-width: 584px;
    min-height: 58px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    text-align: center;
  }
  &__blocks {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media only screen and (max-width: 72em) {
      justify-content: center;
    }
    &__block {
      display: flex;
      justify-content: space-between;
      height: 358px;
      margin-bottom: 33px;
      background-repeat: no-repeat;
      background-position: right;
      &--search-data {
        background-image: url("./../images/search_data_background.svg");
        width: 532px;
      }
      &--anytime-access {
        background-image: url("./../images/24_hour_access_background.svg");
        width: 54.428rem;
      }
      &--print-out {
        background-image: url("./../images/print_out_background.svg");
        width: 55.028rem;
      }
      &--security-code {
        background-image: url("./../images/security_code_background.svg");
        width: 519.6px;
      }
      &__image {
        position: relative;
        @media only screen and (max-width: 30em) {
          & img {
            width: 100%;
            height: auto;
          }
        }
        &--search-data {
          top: 7.3rem;
        }
        &--anytime-access {
          top: 7.1rem;
        }
        &--print-out {
          top: 12.3rem;
        }
        &--security-code {
          top: 8.6rem;
        }
      }
      &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 49px;
        margin-right: 50px;
        margin-bottom: 20px;
        padding-left: 29.29px;
        &__description {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 160%;
          color: #4b5d68;
          margin-bottom: 20px;
          margin-top: 20px;
          height: 160px;
        }
        &__cta {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 127px;
          height: 26px;
          font-family: $secondary-font;
          color: $primary-color;
          font-size: 16px;
          font-weight: 800;
          line-height: 160%;
          letter-spacing: 0.005em;
        }
      }
    }
  }
}
